@import "fonts";
@import "vars";
@import "reset";


body{
	background: $white;
	min-width: 320px;
}
// START COMMON STYLES
.clearfix::after, .clearfix::before{
	content: "";
	clear: both;
	display: block;
}
.wrapper{
	margin: 0 auto;
	width: 100%;
	max-width: 980px;
	padding:20px;
}
.hollow-button{
	display: block;
	position: relative;
	width: 205px;
	height: 56px;
	border: 2px solid $accent;
	border-radius: 5px;
	font-size: 24px;
	line-height: 52px;
	font-family: AgoraSansProLight;
	color: $accent;
	margin: 0 auto;
}
.my-button{
	display: block;
	position: relative;
	width: 205px;
	height: 56px;
	background-color: $accent;
	border-radius: 5px;
	font-size: 24px;
	line-height: 52px;
	font-family: AgoraSansProLight;
	color: $white;
	margin: 0 auto;
}
h2{
	font-size: 51px;
	color: $white;
	text-transform: uppercase;
	font-family: AgoraSansProBold;
	margin-bottom: 28px;
	span{
		color: $accent;
	}
}
h3{
	display: inline-block;
	color: $grey;
	font-size: 28px;
	font-family: AgoraSansProMedium;
	text-transform: uppercase;
	line-height: 44px;
	border-bottom: 1px solid $light-grey;
	span {
		color: $accent;
	}
}
.ipsum {
	margin: 0 auto;
	color: $light-grey;
	max-width: 506px;
	font-family: AgoraSansProLight;
	font-size: 20px;
	height: 40px;
	overflow: hidden;
}
.arrow-btn{
	cursor: pointer;
}

.hexagon {
	display: table;
	height: 101px;
	width: 101px;
	background: $light-accent;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	margin: 0 auto 21px;
	text-align: center;
	.hex-inner {
		display: table-cell;
		height: 90px;
		width: 90px;
		background: $accent;
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		vertical-align: middle;
	}
}
.hexagon:hover{
	background: $white;
}

// END COMMON STYLES

#top-section{
	background: url("/images/bg-women.jpg") no-repeat center top;
	background-size: cover;
}
#header {
	margin-bottom: 191px;
}

.logo{
	float: left;
}
.menu-holder{
	float: right;
	text-align: center;
	height: 100%;
	margin-top: 22px;
	position: relative;
	.menu-navigation > li{
		display: inline-block;
		text-transform: uppercase;
		font-family: AgoraSansProThin;
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 30px;
		border-bottom: 4px solid transparent;
		transition: border-bottom .5s ease;
		cursor: pointer;
		margin: 0 25px;
		a{
			color: $white;
		}
		&:hover{
			border-bottom: 4px solid $accent;
		}
	}
}

//START MORPHING MENU
.morphing-menu{
	position: relative;
	float: right;
	top: 7px;
	right: 40px;
	width: 51px;
	height: 50px;
	display: none;
	cursor: pointer;
	background-color: transparent;
	border: none;
	transition: opacity 0.2s linear;
	&:focus{
		outline: none;
	}
	span{
		display: block;
		float: left;
		clear: both;
		height: 4px;
		width: 40px;
		border-radius: 40px;
		background-color: $accent;
		position: absolute;
		right: 5px;
		top: 0;
		transition: all 0.4s ease;
		margin-top: 25px;
		&::before,&::after{
			content: '';
			display: block;
			float: left;
			clear: both;
			height: 4px;
			width: 40px;
			border-radius: 40px;
			background-color: $accent;
			position: absolute;
			right: 0;
			top: -25px;
			transition: all 0.4s ease;
		}
		&::before{
			margin-top: 10px;
		}
		&::after{
			margin-top: 40px;
		}
		&:hover{
			opacity: 0.8;
		}

	}
}

.button-animation{
	span{
		transition: opacity 0s linear;
		background-color: transparent;
		z-index: 100;
	}
	span::before, span::after{
		background-color: $white;
	}
	span::before{
		transform: rotate(45deg) translateY(12px) translateX(12px);
	}
	span::after{
		transform: rotate(-45deg) translateY(-10px) translateX(10px);
	}
}
// END MORPHING MENU

.banner-info{
	margin: 0 auto;
	text-align: center;
	.wrapper-for-lines{
		position: relative;
		padding: 0 10%;
	}
	.wrapper-for-lines:before,
	.wrapper-for-lines:after {
		background-color: #4e4d4d;
		content: "";
		display: inline-block;
		height: 8px;
		position: absolute;
		top: 46%;
		width: 8%;
		h2{
			display: inline-block;
		}
	}
	.wrapper-for-lines:before {
		right: 1%;
	}
	.wrapper-for-lines:after {
		left: 1%;
	}
	p{
		font-family: AgoraSansProLight;
		color: $white;
		font-size: 24px;
		margin-bottom: 48px;
	}
	.wrap{
		margin: 0 auto 241px;
	}
	.hollow-button::after{
		content: url('/images/Mouse.png');
		position: absolute;
		left: 104%;
		top: 20%;
	}
	.arrow{
		height: 28px;
		width: 28px;
		margin: 0 auto;
	}
}

#offers-section {
	background: $white;
	text-align: center;
	h3{
		margin-bottom: 19px;
	}
	.ipsum{
		margin-bottom: 85px;
	}
	.offers {
		font-size: 0;
		letter-spacing: 0;
		margin-bottom: 54px;
		li {
			display: inline-block;
			margin-top: 20px;
		}
		h4 {
			text-transform: uppercase;
			color: $grey;
			font-size: 20px;
			font-family: AgoraSansProMedium;
			margin-bottom: 12px;
		}
		hr {
			width: 64px;
			border: 0;
			border-bottom: 1px solid $light-grey;
			margin-bottom: 24px;
		}
		.ipsum {
			margin-bottom: 0;
			font-size: 14px;
			width: 200px;
			height: 42px;
		}
	}
}
#expand-section{
	background: url("/images/bg-city.jpg") no-repeat center top;
	background-size: cover;
	text-align: center;
	.opacity-border{
		padding-top: 124px;
		margin: 91px 0 33px;
		border: 8px solid rgba(255, 255, 255, 0.1);
	}
	h2{
		margin-bottom: 52px;
	}
	.wrap{
		margin-bottom: 100px;
	}
	.arrow{
		margin-bottom: 5px;
		img{
			cursor: pointer;
		}
	}
}
#steps-section{
	text-align: center;
	h3{
		margin-bottom: 19px;
	}
	.ipsum{
		margin-bottom: 61px;
	}
	.steps{
		margin-bottom: 36px;
	}
	.arrow{
		margin-bottom: 21px;
	}
}
.same{

}

.common-in-text-info{
	h3{
		border-bottom: none;
		border-left: 10px solid $accent;
		padding-left: 11px;
		margin-bottom: 20px;
	}
	.ipsum{
		max-width: 391px;
		height: 118px;
		margin-bottom: 42px;
	}
}

#wedo-section{
	text-align: center;
	background-color: $greyBg;
	h3{
		margin-bottom: 67px;
	}
	.wrap{
		margin-bottom: 50px;
		.text-info{
			float: left;
			max-width: 45%;
		}
		.img{
			max-width: 55%;
			float: right;
			display: inline-block;
		}
	}
	.arrow{
		margin-bottom: 17px;
	}
}
#advertising-section{
	text-align: center;
	background-color: $white;
	.wrap{
		padding-top: 134px;
		margin-bottom: 102px;
		.text-info{
			float: right;
			max-width: 45%;
		}
		.img{
			max-width: 55%;
			float: left;
			display: inline-block;
		}
	}
	.arrow{
		margin-bottom: 17px;
	}
}
#marketing-section{
	text-align: center;
	background-color: $greyBg;
	.wrap{
		margin-bottom: 50px;
		padding-top: 134px;
		.text-info{
			float: left;
			max-width: 45%;
		}
		.img{
			float: right;
			max-width: 55%;
			display: inline-block;
		}
	}
	.arrow{
		margin-bottom: 17px;
	}
}
#portfolio-section{
	text-align:  center;
	background-color: $white;
	padding-top: 81px;
	h3{
		margin-bottom: 39px;
	}
	.portfolio-menu{
		border-top: 1px solid $light-grey;
		border-bottom: 1px solid $light-grey;
		margin-bottom: 46px;
		.menu-navigation > li{
			display: inline-block;
			text-transform: uppercase;
			font-family: AgoraSansProLight;
			font-size: 20px;
			line-height: 59px;
			a{
				color: $accent;
				display: block;
				padding: 0 40px;
				position: relative;
			}
			a::before{
				content: '/';
				position: absolute;
				top: 8px;
				left: -5px;
				width: 1px;
				height: 16px;
				margin-top: -8px;
				color: $light-grey;
			}
			&:first-child a:before{
				content: '';
			}
		}
	}
	.pictures-grid{
		img{
			width: 100%;
			max-width: none;
		}
		margin: 6px -6px;
		font-size: 0;
		.picture-block{
			display: inline-block;
			width: 50%;
			padding: 6px;
			.full-picture{
				width: 100%;
				display: inline-block;
				margin: 6px -6px;
			}
			.half-picture{
				display: inline-block;
				width: 50%;
				&:nth-child(odd){
					padding-right: 6px;
				}
				&:nth-child(even){
					padding-left: 6px;
				}
			}
		}
	}
	.my-button{
		margin-bottom: 25px;
	}
	.arrow{
		margin-bottom: 14px;
	}
}
#our-team{
	text-align: center;
	background-color: $greyBg;
	h3{
		margin-bottom: 33px;
	}
	.team{
		width: 100%;
		margin-bottom: 71px;
		font-size: 0;
		.hex-avatar{
			margin-bottom: 26px;
		}
		li {
			display: inline-block;
			width: 100%;
			max-width: 33.33%;
			margin-top: 40px;
			h3{
				color: $darkGrey;
				text-transform: capitalize;
				border: none;
				margin-bottom: 19px;
			}
			p{
				font-size: 20px;
				font-family: AgoraSansProMedium;
				color: $darkGrey;
				margin-bottom: 18px;
			}
		}
		.social{
			li{
				display: inline-block;
				width: 37px;
				height: 37px;
				border-radius: 50%;
				background-color: $darkGrey;
				margin: 0 9px;
				a{
					display: block;
					color: $greyBg;
					i{
						line-height: 37px;
						font-size: 24px;
					}
				}
			}
		}
	}
}
#personal-info{
	background-color: $white;
	.quotes{
		margin-top: 32px;
		margin-bottom: 74px;
		.hexagon{
			height: 86px;
			width: 74px;
		}
	}
	.team-slider{
		text-align: center;
		margin-bottom: 52px;
		.table{
			display: table;
			width: 100%;
			& > *{
				display: table-cell;
				vertical-align: middle;
			}
			.text{
				width: 41.3%;
				padding-right: 69px;
				.ipsum{
					height: auto;
				}
			}
			.info{
				text-align: left;
				width: 39%;
				padding-left: 69px;
				h3{
					color: $grey;
					text-transform: capitalize;
					font-size: 29px;
					font-family: AgoraSansProMedium;
					border: none;
				}
			}
			.hex-avatar{
				height: 185px;
				width: 224px;
			}
		}
	}
	.nav-arrows{
		width: 88px;
		margin: 0 auto 44px;
		button{
			display: inline-block;
			position: relative;
			height: auto;
			width: auto;
			right: auto;
			left: auto;
			top: auto;
			transform: none;
		}
		.slick-prev{
			float: left;
		}
		.slick-next{
			float: right;
		}
		button::before{
			display: none;
		}

	}
	.daisy-address{
		width: 100%;
		margin-bottom: -141px;
		position: relative;
		z-index: 2;
		color: $white;
		.hexagon{
			margin: 0 auto;
			height: 242px;
			width: 209px;
			h3{
				color: $white;
				border: none;
				text-transform: capitalize;
				margin-bottom: 21px;
			}
			p{
				color: $white;
			}
		}
	}
}
#google-map{
	position: relative;
	#map{
		height: 400px;
		width: 100%;
	}
}
#footer{
	background: url("/images/bg-iphone.jpg") no-repeat center top;
	background-size: cover;
	text-align: center;
	.logo{
		display: block;
		float: none;
		margin: 58px 0 23px;
	}
}
.test{
	height: 1000px;
	.figure{
		height: 60px;
		width: 100px;
		position: relative;
		background-color: $accent;
		border-left: 5px solid $light-accent;
		border-right: 5px solid $light-accent;
	}
	.figure::after, .figure::before{
		content: '';
		display: block;
		width: 70px;
		height: 70px;
		position: absolute;
		z-index: -1;
		transform: rotate(45deg);
		background-color: $accent;
	}
	.figure::after{
		top: 25px;
		left: 16px;
	}
}

@import "media";

